### Gradle ###
.gradle
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# Various build system generated output folders
out/
build/
classes/
bin/
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag